<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login - My Digital Wallet</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
  <h2>Login</h2>
  <form th:action="@{/login}" method="post">
    <label>Username: </label>
    <input type="text" th:field="*{username}" required/>
    <br>
    <label>Password:</label>
    <input type="password" th:field="*{password}" required/>
    <br>
    <button type="submit">Login</button>
  </form>

  <p th:if="${error}" th:text="${error}" style="color:red"></p>
  <p>Don't have an account? <a th:href="@{/signup}">Sign up here!</a></p>
</body>
</html>