<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SignUp - My Digital Wallet</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <h2>Sign Up</h2>
    <form th:action="@{/signup}" method="post">
        <label>Username:</label>
        <input type="text" th:field="*{username}" required/>
        <br>
        <label>Password:</label>
        <input type="password" th:field="*{password}" required/>
        <br>
        <button type="submit">Create Account</button>
    </form>

    <p th:if="${error}" th:text="${error}" style="color:red"></p>
    <p>Already have an account? <a th:href="@{/login}">Login here!</a></p>
</body>
</html>